
/*标题样式设置*/
.site-meta .site-title {
    font-size: 28px;
    font-family: 'Comic Sans MS', sans-serif;
    color: #fff;
}

/*修改链接颜色 好像是没有用*/
a{
  border-bottom: none;
}

/*修改post文章样式*/
.posts-expand .post {
  margin-top: 20px;
}


/*设置文章排版合理*/
.post-body{
	text-align: justify;
}

/*鼠标放上链接的效果*/
a:hover {
    color: #1774d1;
    border-bottom-color: rgb(161, 102, 171) !important;
}

/*相关文章推荐样式设置 似乎是没有效果*/
.popular-posts-header {
  margin-top: 45px;
  font-size: 20px;
  font-family: "PT Serif", "Songti SC", STZhongsong, "PingFang SC", "Microsoft YaHei", Georgia, sans;
  font-weight: 900;
}

ul.popular-posts .popular-posts-item .popular-posts-title a {
  border-bottom: 1px solid #999;
  &:hover{
    border-bottom: none;
  }
}

/*主页文章添加阴影效果*/
